*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  color: rgb(13,48,130)
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.greeting{
  font-size: 5rem;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

h1{
  font-weight: normal;
}


@media(max-width:512px){
  .info{
    font-size: 2rem;
  }
}
@media(max-width:280px){
  .info{
    font-size: 1.7rem;
  }
}
